@charset "utf-8";
/* CSS Document */
/*全局控制*/
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: "微软雅黑";
    width:100%;
    height: 100%;
}
html, body {
    width:100%;
    height: 100%;
    overflow-y: hidden;
}
.clear{
    clear: both;
}
.shade{
    width: 73%;
    height:50px;
    position: absolute;
    z-index: 10000;
    left:100px;
    bottom:0;
    background:rgba(0,0,0,0);
}
.main{
    width:100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /*禁止选中*/
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    /*禁止选中*/
}
.videoPlay{
    position: absolute;
    top:0;
    left:0;
    display: none;
    width:640px;
    height: 360px;
    z-index: 999;
    background: #555555;
}
.shutVideo{
    width: 30px;
    height:30px;
    position: absolute;
    top:5%;
    right:5%;
    z-index: 9999;
}
.video-js{
    width:640px;
    height: 360px;
}
.up {
    transform: rotateX(180deg);
    width: 24px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin:0 auto;
    z-index: 99;
}

.go{
    width: 24px;
    position: absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    bottom: 2.5%;
    z-index: 99;
}
.sshut{
    width: 30px;
    height:30px;
    position: absolute;
    top:3px;
    right:10px;
    z-index: 50000;
}
.page5 .go{
     -webkit-animation:fadein 1.5s infinite linear;
     -moz-animation:fadein 1.5s infinite linear;
     -ms-animation:fadein 1.5s infinite linear;
     animation:fadein 1.5s infinite linear;
 }
.page7 .go{
    -webkit-animation:fadein 1.5s infinite linear;
    -moz-animation:fadein 1.5s infinite linear;
    -ms-animation:fadein 1.5s infinite linear;
    animation:fadein 1.5s infinite linear;
}
/*-------------------------------------------------------page1*/
.main .page1{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-image: url("../images/back.png");
    background-size:100% 100%;
}
.main .page1 .page1Box{
    width:100%;
    height:100%;
    position: relative;
}
.main .page1 .page1Box .title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
}
.main .page1 .page1Box .centerT{
    width: 400px;
    height:100px;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    font-weight: 700;
}
/*-------------------------------------------------------page2*/
.main .page2{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 18;
    overflow: hidden;
}
.main .node1{
    position: relative;
    width:100%;
    height:100%;
    background-color: #ffffff;
    background-size:100% 100%;
}
.main .page2  .title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
}
.main .pageContent{
    position: relative;
    width:100%;
    height:100%;
}

.main .page2 .text{
    position: absolute;
    top:30%;
    left:8%;
    color: #ffffff;
}



.main .page2 .text .p1 .point{
    width:18px;
    display: block;
    float: left;
    margin-top:5px;
    margin-right: 10px;
}
.main .page2 .text .p1 .mubiao{
    float: left;
    font-size: 20px;
    margin-bottom: 25px;
}
.main .page2 .text .itemt{
    clear: both;
    font-size: 14px;
    line-height: 30px;
}
/*-------------------------------------------------------page3*/
.main .page3{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 16;
    overflow: hidden;
}
.main .page3 .p3{
    position: relative;
    width:100%;
    height:100%;
    background-color: #ffffff;
    background-size:100% 100%;
}
.main .page3  .title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
}
.main .page3 .text3{
    position: absolute;
    top:30%;
    left:8%;
    color: #ffffff;
    width: 50%;
}
.main .page3 .text3 .p1 .point{
    width:18px;
    display: block;
    float: left;
    margin-top:5px;
    margin-right: 10px;
}
.main .page3 .text3 .p1 .mubiao{
    float: left;
    font-size: 20px;
    margin-bottom: 25px;
}

.main .page3 .text3 .dian2{
    width: 8px;
    float: left;
    display: block;
    margin-left:3px;
    margin-top:9px;
    margin-right: 20px;
}
.main .page3 .text3 .item{
    /*float: left;*/
    font-size: 14px;
    color: #ffffff;
    line-height: 33px;
}
/*-------------------------------------------------------page4*/
.main .page4{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
    overflow: hidden;
}
.main .page4 .go{
    display: none;
}
.main .page4 .p4{
    width:100%;
    height:100%;
    position: relative;
    background: #ffffff;
    background-size:100% 100%;
}
.main .page4  .title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
}
.main .centerPlay{
    width: 250px;
    height:100px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    text-align: center;
}
.main .centerPlay .playon{
    width: 40px;
}
.main .centerPlay  p{
    font-size: 22px;
    color: #ffffff;
    margin-top:15px;
}
/*-------------------------------------------------------page5*/
.main .page5{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 14;
    background: #ffffff;
    overflow: hidden;
}


/*.main .page5 .gifContent {
    width: 60%;
    margin-left: 20%;
    height: 60%;
    margin-right: 20%;
    margin-top: 8%;
    z-index: 80;
}*/

#gifImg5_1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 80;
}

#gifImg5_2 {
    width: 80%;
    margin-left: 10%;
    height: 60%;
    margin-right: 10%;
    margin-top: 8%;
    position: absolute;
    z-index: 79;
}

#gifImg5_3 {
    width: 80%;
    margin-left: 10%;
    height: 60%;
    margin-right: 10%;
    margin-top: 8%;
    position: absolute;
    z-index: 78;
}

.main .page5 .gifContent img{
    width: 100%;
    height: 100%;
}

.main .page5 .power {
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    bottom: 40px; 
    z-index: 81;
}


.main .page5 .p5{
    position: relative;
    width:100%;
    height:100%;
    background: #ffffff;
    background-size:100% 100%;
}

.main .page5  .title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
}
.main .page5 .centerC{
    width: 82%;
    height: 70%;
    /*border:1px solid #1f1f1f;*/
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    top:12%;
}
.main .page5 .centerC .notice{
    color: #333333;
    font-size: 14px;
}
.main .page5 .centerC .chooseList{

}
.main .page5 .centerC .chooseList li{
    display: block;
    float: left;
    margin-right:5.2%;
    width: 21%;
    text-align: center;
    margin-top:3.5%;
    color: #ffffff;
    font-size: 12px;
}
.main .page5 .centerC .chooseList li:nth-child(4n){
    margin-right:0;
}
.main .page5 .centerC .chooseList li .imgItem{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.main .page5 .centerC .chooseList li .imgItem img{
    width: 100%;
}
.main .page5 .centerC .chooseList li .imgItem .gou{
    position: absolute;
    top:0;
    left:0;
    display: none;
}
.main .page5 .centerC .chooseList li .imgItem .gou7{
    width: 101%;
}
.main .page5 .centerC .chooseList .choose .imgItem .gou{
    display: block;
}
.main .commit{
    width: 130px;
    height:26px;
    border-radius: 15px;
    text-align: center;
    color: #ffffff;
    line-height: 26px;
    background: #54545b;
    position: absolute;
    right:9%;
    bottom:7%;
}
.main .active{
    background: #5fcb2a;
}
/*.true{*/
    /*display: none;*/
/*}*/
.tan{
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
    background:rgba(0,0,0,0.6);
    display: none;
}
.trueCenter{
    width: 270px;
    height:170px;
    background: #ffffff;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    text-align: center;
    border-radius: 7px;
}
.trueCenter .trueText{
    width: 45%;
    display: block;
    margin:25px auto;
}
.trueCenter .button{
   width: 150px;
    height:30px;
    text-align: center;
    color: #ffffff;
    line-height: 30px;
    font-size: 14px;
    border-radius: 20px;
    margin:0 auto;
    background: #faa52c;
}
.false .trueCenter .button{
    background: #d14242;
}
.false .trueCenter .trueText{
    width: 43%;
    display: block;
    margin:20px auto;
}
.false2 .trueCenter .button{
    background: #d14242;
}
.false2 .trueCenter .trueText{
    width: 43%;
    display: block;
    margin:20px auto;
}
/*-------------------------------------------------------page6*/
.main .page6{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 13;
    overflow: hidden;
}
.main .page6 .p6{
    position: relative;
    width:100%;
    height:100%;
    background:#ffffff;
    background-size:100% 100%;
}
.main .page6  .title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
}
.main .page6 .go{
    display: none;
}
/*-------------------------------------------------------page7*/
.main .page7{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 12;
    overflow: hidden;
}
.main .page7 .go{
    display: none;
}
.main .page7 .p7{
    position: relative;
    width:100%;
    height:100%;
    background:#ffffff;
    background-size:100% 100%;
}
.main .page7  .title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
}
.main .page7 .p7Center{
    width: 95%;
    height:70%;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    top:12%;
}
.main .page7 .p7Center .p1{
    font-size: 14px;
}
.main .page7 .p7Center .leftTi{
    float: left;
    width: 50%;
}
.main .page7 .p7Center .timu{
    margin-top:6%;
    font-size: 14px;
    color: #ffffff;
}
.main .page7 .p7Center .leftTi .chooseBox{
    width: 37.5%;
    float: left;
    margin-left:7%;
    margin-top:5%;
}
.main .page7 .p7Center .leftTi .chooseBox img{
    width: 100%;
}
.main .page7 .p7Center .leftTi .chooseBox .chooseItem{
    width: 70px;
    /*border:1px solid #1c1c1c;*/
    overflow: hidden;
    margin:10px auto;
}
.main .page7 .p7Center .chooseT{
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 3px;
    display: block;
    float: left;
}
.main .page7 .p7Center .chooseP{
    width: 20px;
    height:20px;
    float: left;
    border-radius: 50%;
    border:1px solid #ffffff;
    margin-left:8px;
}
.main .page7 .p7Center  .centerl{
    width: 16px;
    height:16px;
    border-radius: 50%;
    margin:2px;
    background: #ffffff;

}
.main .page7 .p7Center .rightTi{
    float: left;
    width: 50%;
}
.main .page7 .p7Center .rightTi .b1{
    width: 58%;
    display: block;
    margin:14px auto;
}
.main .page7 .p7Center .rightTi .timu{
    text-align: center;
}
.main .page7 .p7Center .rightTi .chooseItem2{
    float: left;
    margin-right: 6%;
    margin-left:6%;
}
.main .page7 .p7Center .yes .centerl{
    background: #5fcb2a;
}
.main .page7 .p7Center .rightTi .chooseItem2:last-child{
    margin-right:0;
}
.main .page7 .p7Center .rightTi .chooseT{
    letter-spacing: 0;
}
@media screen and (max-width: 620px) {
    .main .page7 .p7Center .timu{
        font-size: 13px;
    }
    .main .page7 .p7Center .rightTi .chooseItem2{
        float: left;
        margin-right: 5%;
        margin-left:5%;
    }
}
/*-------------------------------------------------------page8*/
.main .page8{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    overflow: hidden;
}

.main .page8 .title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
    z-index: 11;
}
.main .page8 .p8{
    position: relative;
    width:100%;
    height:100%;
    background-color: #ffffff;
    background-size:100% 100%;
}

.main .page8 .page8Gif {
    position: absolute;
    top: 90px;
    left: 55%;
    width:  34%;
    height: 42%;
    z-index: 999;
    background: #000;
}

.main .page8 .page8Gif img{
    width:  100%;
    height: 100%;
}
  

/*-------------------------------------------------------page10*/
.main .page9{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}
.main .page9 .p8{
    position: relative;
    width:100%;
    height:100%;
    background:#ffffff;
    background-size:100% 100%;
}
.main .page9  .title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
}
.main .page9 .p8Center{
    width: 70%;
    height:50px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    margin:auto;
    font-size: 14px;
    color: #ffffff;
    line-height: 30px;
}
    /*-------------------------------------------------------page10*/
.main .page10{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background:#ffffff;
    background-size:100% 100%;
}
.main .page10 .p10{
    position: relative;
    width:100%;
    height:100%;
    background-color: #ffffff;
    background-size:100% 100%;
}
.title{
    position: absolute;
    top:7px;
    right:50px;
    color:#333333;
    font-size: 14px;
}
.title.white{
    color: #fff;
}

/*---------------page11------*/
.main .page11{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: #ffffff;
    overflow: hidden;
}

.page11 .p11 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
}

.viewHead {
    position: absolute;
    margin-left:2.7%;
    width: 94.6%;
    top: 30px;
    margin-right:2.7%;
    height: 20px;
    background: #62739b;  
}

.viewHeadTail {
    position: absolute;
    width: 40.7%;
    top: 30px;
    right:2.7%;
    height: 20px;
    background: #333333;  
}

.viewBottom {
    position: absolute;
    margin-left:2.7%;
    width: 94.6%;
    bottom: 30px;
    margin-right:2.7%;
    height: 10px;
    background: #333333;  
}

.viewBottomTail {
    position: absolute;
    width: 40.7%;
    bottom: 30px;
    right:2.7%;
    height: 10px;
    background: #62739b;  
}

.viewLeft {
    /*height: 80.6%;*/
    width: 53.9%;
    margin-left:2.7%; 
    margin-top: 50px;
    /*background: #ff0000;*/
    float: left;
}

.exerciseTitle {
    width: 31.7%;
    font-size: 1.875rem;
    font-family: "微软雅黑";
    color: #62739b;
    margin-top: 10px;
    height: 25px;
}

.exerciseblock1 {
    width: 3px;
    background: #62739b;
    margin-top: 10px;
    height: 16px;
    float: left;
}


.exerciseTitleSmall {
    width: 50px;
    font-size: 1.5rem;
    font-family: "微软雅黑";
    color: #333333;
    margin-top: 10px;
    height: 16px;
    line-height: 16px;
    float: left;
    text-align:center;
    overflow: hidden;
}

.exerciseblock2 {
    width: 3px;
    background: #62739b;
    margin-top: 10px;
    height: 16px;
    float: left;
}

.exerciseQuestion {
    width: 100%;
    font-size: 1.5rem;
    font-family: "微软雅黑";
    color: #333333;
    margin-top: 36px;
    height: 50px;
}

.exerciseImg {
    width: 53.2%;
    font-size: 1.5rem;
    font-family: "微软雅黑";
    color: #333333;
    margin-top: 1.7%;
    height: 33.2%;
}



.exerciseImg img{
    width: 100%;
    height: 100%;
}

.viewRight {
    height: 80.6%;
    width: 40.7%;
    margin-top: 50px;
    float: left;
}

.exerciseChose {
    width: 144px;
    font-size: 1.875rem;
    font-family: "微软雅黑";
    color: #ffffff;
    margin-top: 10px;
    margin-left: 15px;
    height: 25px;
    float: left;
    background: #62739b;
}


.exerciseAnswer {
    margin-top: 10px;
    width: 100%;
    height: 55%;
    float: left;
    overflow-y: scroll;
}


.aSpace {
    height: 30px;
    width: 100%;
    position: relative;
    /*background: #00ff00;*/
}

.exerciseAnswer .rowup{
    -webkit-animation: 20s rowup linear infinite normal;
    animation: 20s rowup linear infinite normal;
    position: relative;
}

.exerciseAnswer .itemClick {
    background-color: #8e8faf;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 15px;
    height: auto;
    outline:none;

    padding: 0px 10px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    font-size: 16px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #62739b;
}

.exerciseAnswer .itemRight{
    color: #333333;
    /*float: left;*/
    margin-top: 20px;
    margin-left: 15px;
    height: auto;
    outline:none;


    background-color: #ffffff; 
    padding: 0px 10px;
    /*text-align: center;*/
    font-size: 16px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #62739b;
}

.stuName {
    background: #d7d7d7;
    bottom: 40px;
    right:2.7%; 
    width: 40.7%;
    height: 60px; 
    position:absolute;
}

.stuHead {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}

.stuHead img{
   width: 100%;
   height: 100%;
}

.stusNameLabel {
    width: 40px;
    height: 10px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    font-size: 15px;
    color: #333333;
}


.stusName {
    width: 50px;
    height: 10px;
    margin-top: 30px;
    margin-left: 65px;
    position: relative;
    font-size: 15px;
    color: #333333;
}

.commitBtn {
    width: 100px;
    height: 30px;
    top: 20px;
    right: 15px;
    position: absolute;
    font-size: 15px;
    color: #333333;

    outline:none;
    background-color: #25c789;
    color: #ffffff;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #25c789;
}


/*------------------page12-----------*/
.main .page12{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 7;
    background: #ffffff;
    overflow: hidden;
}

.page12 .p12 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
}

.exerciseChose1 {
    width: 65px;
    font-size: 1.875rem;
    font-family: "微软雅黑";
    color: #ffffff;
    margin-top: 10px;
    margin-left: 15px;
    height: 25px;
    float: left;
    background: #62739b;
}

.exerciseAnswer1 {
    margin-top: 10px;
    width: 100%;
    height: 55%;
    float: left;
    overflow-y: scroll;
}


.leftArea {
    width: 50%;
    height: 100%;
    float: left;
}

.rightArea {
    width: 50%;
    height: 100%;
    float: left;
}

.container {
    position: relative;
  }
.container .answerRight {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 100%;
    height: 100%;

    outline:none;
    background-color: #ffffff;
    color: #25c789;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.75rem;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #25c789;
}

.answerRightClick {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: #333333;

    outline:none;
    background-color: #25c789;
    color: #ffffff;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.75rem;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #25c789;
}

.container .answerFalse {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 100%;
    height: 100%;

    outline:none;
    background-color: #ffffff;
    color: #f44336;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.75rem;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #f44336;
}

.answerFalseClick {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    width: 100%;
    height: 100%;

    outline:none;
    background-color: #f44336;
    color: #ffffff;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.75rem;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #f44336;
}

.container:before {
    content: " ";
    display: block;
    padding-top: 100%;
}

.box {
    display: inline-block;
    margin: 10px;
    width: 90%;
    border: none;
    /*background-color: #eee;*/
  }


/*------------------page13-----------*/
.main .page13{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
    background: #ffffff;
    overflow: hidden;
}

.page13 .p13 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
}

.exerciseAnswer2 {
    margin-top: 10px;
    width: 100%;
    height: 55%;
    float: left;
    overflow: scroll;
}

.exerciseAnswer2_1{
    background: url("../images/btn_answer1_qianzhiqianqu.png");
    margin-left: 15px;
    width: 90%;
    height: 20%;
    background-size:100% 100%;
    border: none;
    outline:none;
}

.exerciseAnswer2_1Click{
    background: url("../images/btn_answer1_qianzhiqianqu_pre.png");
    margin-left: 15px;
    width: 90%;
    height: 20%;
    background-size:100% 100%;
    border: none;
    outline:none;
}

.exerciseAnswer2_2{
    background-image: url("../images/btn_answer2_qianzhihouqu_default.png");
    margin-left: 15px;
    width: 90%;
    height: 20%;
    margin-top: 5px;
    outline:none;
    background-size:100% 100%;
    border: none;
}

.exerciseAnswer2_2Click{
    background: url("../images/btn_answer2_qianzhihouqu_pre.png");
    margin-left: 15px;
    width: 90%;
    margin-top: 5px;
    height: 20%;
    background-size:100% 100%;
    border: none;
    outline:none;
}

.exerciseAnswer2_3{
    background-image: url("../images/btn_answer3_houzhihouqu_default.png");
    margin-left: 15px;
    width: 90%;
    height: 20%;
    margin-top: 5px;
    outline:none;
    background-size:100% 100%;
    border: none;
}

.exerciseAnswer2_3Click{
    background: url("../images/btn_answer3_houzhihouqu_pre.png");
    margin-left: 15px;
    width: 90%;
    height: 20%;
    margin-top: 5px;
    background-size:100% 100%;
    border: none;
    outline:none;
}


.exerciseAnswer2_4{
    background-image: url("../images/btn_answer4_zhongzhihouqu_default.png");
    margin-left: 15px;
    width: 90%;
    height: 20%;
    margin-top: 5px;
    outline:none;
    background-size:100% 100%;
    border: none;
}


.exerciseAnswer2_4Click{
    background: url("../images/btn_answer4_zhongzhihouqu_pre.png");
    margin-left: 15px;
    width: 90%;
    height: 20%;
    margin-top: 5px;
    background-size:100% 100%;
    border: none;
    outline:none;
}

/*------------------page14-----------*/
.page14{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-image: url("../images/bg-end.jpg");
    background-size:100% 100%;
}
.page14 .end{
    width: 200px;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    top:20%;
    color: #0891e8;
    text-align: center;
}
.page14 .end:before{
    content: "\20";
    display:inline-block;
    width: 50px;
    height: 2px;
    background: #0891e8;
    margin-right: 10px;
    vertical-align: middle;
}

.page14 .end:after{
    content: "\20";
    display:inline-block;
    width: 50px;
    height: 2px;
    background: #0891e8;
    margin-left: 10px;
    vertical-align: middle;
}

.page14 .backto{
    opacity: 0;
    width:110px;
    font-size: 14px;
    text-align: right;
    display: block;
    height: 80px;
    line-height:80px;
    position: absolute;
    top:44%;
    left:12.5%;
    background: url(../images/end-l-arr.png) no-repeat left center;
    background-size: 60px;
}
.page14 .reset{
    opacity: 0;
    width:110px;
    font-size: 14px;
    text-align: left;
    display: block;
    height: 80px;
    line-height:80px;
    position: absolute;
    top:44%;
    right:12.5%;
    background: url(../images/end-r-arr.png) no-repeat right center;
    background-size: 60px;
}

.page14 .title{
    font-size: 16px;
    padding: 2% 8% 0 0;
    height: 20px;
    line-height: 20px;
    text-align: right;
}

.page10 .end{
    width: 200px;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    top:20%;
    color: #0891e8;
    text-align: center;
}
.page10 .end:before{
    content: "\20";
    display:inline-block;
    width: 50px;
    height: 2px;
    background: #0891e8;
    margin-right: 10px;
    vertical-align: middle;
}

.page10 .end:after{
    content: "\20";
    display:inline-block;
    width: 50px;
    height: 2px;
    background: #0891e8;
    margin-left: 10px;
    vertical-align: middle;
}

.page10 .backto{
    opacity: 0;
    width:110px;
    font-size: 14px;
    text-align: right;
    display: block;
    height: 80px;
    line-height:80px;
    position: absolute;
    top:44%;
    left:12.5%;
    background: url(../images/end-l-arr.png) no-repeat left center;
    background-size: 60px;
}
.page10 .reset{
    opacity: 0;
    width:110px;
    font-size: 14px;
    text-align: left;
    display: block;
    height: 80px;
    line-height:80px;
    position: absolute;
    top:44%;
    right:12.5%;
    background: url(../images/end-r-arr.png) no-repeat right center;
    background-size: 60px;
}

@media screen and (max-width: 569px) {
    .exerciseImg {
        width: 43.2%;
        font-size: 1.5rem;
        font-family: "微软雅黑";
        color: #333333;
        margin-top: 1.7%;
        margin-left:t 2.7%;
        height: 27.2%;
    }

    .exerciseAnswer2 {
        margin-top: 5px;
        width: 100%;
        height: 55%;
        float: left;
        overflow: scroll;
    }

    .exerciseAnswer2_2{
        margin-top: 2px;
    }

    .exerciseAnswer2_3{
        margin-top: 2px;
    }

    .exerciseAnswer2_4{
        margin-top: 2px;
    }
}

@media (max-width: 667px) and (min-width: 568px) {
  
}

@media (max-width: 736px) and (min-width: 568px) {
 
}


.animate .backto{animation: fadeInLeft 0.5s ease 0s both;-webkit-animation: fadeInLeft 0.5s ease 0s both;}
.animate .reset{animation: fadeInRight 0.5s ease 0.2s both;-webkit-animation: fadeInRight 0.5s ease 0.2s both;}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
/***********************答案***********************/
/*.answer2{*/
    /*display: block;*/
/*}*/
.tan .shut{
    width: 30px;
    height:30px;
    position: absolute;
    right: -16px;
    top: -16px;
}
.tan .success{
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.tan .answer{
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 30px;
}

.tan .answer1{
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 20px;
}

.answer2{
    font-size: 30px;
    color: #333333;
    text-align: center;
    line-height: 40px;
}

.answer3{
    font-size: 30px;
    color: #333333;
    text-align: center;
    line-height: 40px;
}

.tan .answerImg{
    width: 40%;
    margin-top:8px;
    text-align: center;
}
.tan .answerItem{
    float: left;
    width: 35%;
    margin-left:15%;
    margin-top:30px;
    font-size: 14px;
}
.tan .answerItem:last-child{
    float: right;
    margin-left:0;
    margin-right:15%;
}
/*------------------------------闪烁*/
@-webkit-keyframes spark{
    0%{opacity:0;}
    50%{opacity: 1}
    100%{opacity:0;}
}
@-moz-keyframes spark{
    0%{opacity:0;}
    50%{opacity: 1}
    100%{opacity:0;}
}
@-ms-keyframes spark{
    0%{opacity:0;}
    50%{opacity: 1}
    100%{opacity:0;}
}
@keyframes spark{
    0%{opacity:0;}
    50%{opacity: 1}
    100%{opacity:0;}
}
/*------------------------------淡入*/
@-webkit-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-moz-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-ms-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-webkit-keyframes move {
    0%{left:-60%;}
    100%{left:5%;}
}
@-moz-keyframes move {
    0%{left:-60%;}
    100%{left:5%;}
}
@-ms-keyframes move {
    0%{left:-60%;}
    100%{left:5%;}
}
@keyframes move {
    0%{left:-50%;}
    100%{left:5%;}
}
/*==========================================滑屏*/
@keyframes slideInBottom {
    0%{transform: translate3d(0,100%, 0);}
    100%{transform: translate3d(0, 0, 0);}
}
@-moz-keyframes slideInBottom {
    0%{-moz-transform: translate3d(0, 100%, 0);}
    100%{-moz-transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes slideInBottom {
    0%{-webkit-transform: translate3d(0, 100%, 0);}
    100%{-webkit-transform: translate3d(0, 0, 0);}
}
@-o-keyframes slideInBottom {
    0%{-o-transform: translate3d(0, 100%, 0);}
    100%{-o-transform: translate3d(0, 0, 0);}
}

@keyframes slideOutTop {
    0%{transform: translate3d(0, 0, 0);}
    100%{transform: translate3d(0, -100%, 0);}
}
@-moz-keyframes slideOutTop {
    0%{-moz-transform: translate3d(0, 0, 0);}
    100%{-moz-transform: translate3d(0,-100%, 0);}
}
@-webkit-keyframes slideOutTop {
    0%{-webkit-transform: translate3d(0, 0, 0);}
    100%{-webkit-transform: translate3d(0, -100%, 0);}
}
@-o-keyframes slideOutTop {
    0%{-o-transform: translate3d(0, 0, 0);}
    100%{-o-transform: translate3d(0, -100%, 0);}
}

@keyframes slideOutBottom {
    0%{transform: translate3d(0, 0, 0);}
    100%{transform: translate3d(0, 100%, 0);}
}
@-moz-keyframes slideOutBottom {
    0%{-moz-transform: translate3d(0, 0, 0);}
    100%{-moz-transform: translate3d(0, 100%, 0);}
}
@-o-keyframes slideOutBottom {
    0%{-o-transform: translate3d(0, 0, 0);}
    100%{-o-transform: translate3d(0, 100%, 0);}
}
@-webkit-keyframes slideOutBottom {
    0%{-webkit-transform: translate3d(0, 0, 0);}
    100%{-webkit-transform: translate3d(0, 100%, 0);}
}

@keyframes slideInTop {
    0%{transform: translate3d(0, -100%, 0);}
    100%{transform: translate3d(0, 0, 0);}
}
@-moz-keyframes slideInTop {
    0%{-moz-transform: translate3d(0,-100%, 0);}
    100%{-moz-transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes slideInTop {
    0%{-webkit-transform: translate3d(0, -100%, 0);}
    100%{-webkit-transform: translate3d(0, 0, 0);}
}
@-o-keyframes slideInTop {
    0%{-o-transform: translate3d(0, -100%, 0);}
    100%{-o-transform: translate3d(0, 0, 0);}
}
